<canvas #canvas id="canvas" width="400" height="400">
</canvas>
<div>
  <mat-slider min="1" max="100" step="1" value="1"
    (change)="onChange($event)" (input)="onInput($event)">
  </mat-slider>
  <div>
    Animate:
    <mat-button-toggle-group name="animate" aria-label="animate">
      <mat-button-toggle value="on" (change)="onChangeAnimate($event)">on</mat-button-toggle>
      <mat-button-toggle value="off" (change)="onChangeAnimate($event)">off</mat-button-toggle>
    </mat-button-toggle-group>
  </div>
</div>
